<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f594a2a0d1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Radio+Canada:wght@400;700&display=swap" rel="stylesheet">
    <script>
        function triggerFileInput(inputId) {
            document.getElementById(inputId).click();
        }
    </script>
</head>
<body class="bg-white">
    <div class="flex flex-col text-center max-w-md mx-auto bg-white p-6 rounded-lg shadow-2xl">
        <h1 class="text-4xl">Agregar anomalía</h1>
        <div class="mt-5 flex justify-center flex-row space-x-28">
            <div>
                <label for=""><h1 class="text-xl">Anverso</h1></label>
                <div class="w-32 h-32 my-3 bg-dark-blue rounded-full cursor-pointer" onclick="triggerFileInput('anv')">
                    <input type="file" name="anv" id="anv" class="hidden">
                </div>
            </div>
            <div>
                <label for=""><h1 class="text-xl">Reverso</h1></label>
                <div class="w-32 h-32 my-3 bg-dark-blue rounded-full cursor-pointer" onclick="triggerFileInput('rev')">
                    <input type="file" name="rev" id="rev" class="hidden">
                </div>
            </div>
        </div>
        <div class="grid grid-rows">
            <h1 class="text-xl">Moneda de 2 pesos</h1>
            <textarea class="mt-2 w-full h-32 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Detalles"></textarea>
            <div class="text-center">
                <button type="submit" class="mt-6 bg-dark-blue text-white px-3 py-2 rounded-md hover:bg-blue-900">Cancelar <i class="fa-solid fa-xmark"></i></button>
                <button type="submit" class="mt-6 bg-dark-blue text-white px-3 py-2 rounded-md hover:bg-blue-900">Aceptar <i class="fa-solid fa-check"></i></button>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    .bg-dark-blue {
        background-color: #021526;
    }
    .bg-light-blue {
        background-color: #0D3559;
    }
    .bg-white {
        background-color: #FCFFFF;
    }
    .bg-black {
        background-color:  #000911;
    }

    body {
            font-family: 'Radio Canada', sans-serif;
        }
        h1, h2 {
            font-family: 'Patua One', cursive;
        }
   
</style>