<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesión y Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="grid grid-cols-2 border-8 border-solid border-blue-800 rounded-xl">
        <div class="bg-gray-100 border-solid rounded-r-full">
            <form action="Registrar-Iniciar.php" method="post" class="flex flex-col items-center p-4">
                <h2 class="text-xl m-0 mx-[25%]">Inicia sesión</h2><br>
                <p class="text-lg m-0 ml-[80px]">Completa los campos e ingresa</p><br>

                <div class="relative w-64">
                    <img src="../../assets/icon/image 5.png" class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5">
                    <input type="email" placeholder="Correo" maxlength="30" name="correo" class="border border-gray-300 p-2 pl-10 w-full rounded-3xl my-1" required>                
                </div>
                
                <div class="relative w-64">
                    <img src="../../assets/icon/image 6.png" class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5">
                    <input type="password" placeholder="Contraseña" maxlength="30" name="ps" class="border border-gray-300 p-2 pl-10 w-full rounded-3xl my-1" required>
                </div>
               
                <a href="recuperacion.php" class="text-xs text-blue-500 underline">Olvidé mi contraseña</a><br>
                <input type="submit" name="IS" value="Iniciar sesión" class="bg-customBlue rounded-3xl text-white w-28 h-10 px-2 text-[20px]"><br>
                <p class="pb-6">¿No tienes una cuenta? <a href="" class="text-blue-500 underline" id="button-registro">¡Regístrate!</a></p>
            </form>
        </div>
        <div class="bg-blue-800">
            <h1></h1>
        </div>
    </div>   
</body>
</html>


